stages:
  - build
  - package
  - deploy-repo

before_script:
  - eval $(ssh-agent -s)
  - echo $SSH_PRIVATE_KEY | base64 -d | ssh-add - 
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - ssh debian-repo@debian.in2ip.net "/bin/true"
  - printf 'DEBUILD_PREPEND_PATH=/usr/lib/ccache\nDEBUILD_PRESERVE_ENVVARS=CCACHE_DIR' > ~/.devscripts

.debian-buster:
    image: gitlab-01.in2ip.nl:5050/odmanaged/playout-platform/casparcgserver/buster-build:latest
    stage: build
    tags: 
        - docker
        - casparcg
    cache:
      key: "buster"
      paths:
        - /ccache


.debian-stretch:
    image: gitlab-01.in2ip.nl:5050/odmanaged/playout-platform/casparcgserver/stretch-build:latest
    stage: build
    tags:
        - docker
        - casparcg
    cache:
      key: "stretch"
      paths:
        - /ccache


build-buster:
    extends: .debian-buster
    script:
      - mkdir -p build && cd build && cmake .. -G "Unix Makefiles" -DUSE_SYSTEM_BOOST=ON -DUSE_SYSTEM_FFMPEG=ON -DUSE_SYSTEM_TBB=ON -DUSE_SYSTEM_GLEW=ON -DUSE_SYSTEM_FREETYPE=ON -DUSE_SYSTEM_FREEIMAGE=ON -DUSE_SYSTEM_OPENAL=ON -DUSE_SYSTEM_SFML=ON -DUSE_SYSTEM_FONTS=ON -DCMAKE_BUILD_TYPE=RelWithDebInfo
      - make -j8

build-stretch:
    extends: .debian-stretch
    script:
      - mkdir -p build && cd build && cmake .. -G "Unix Makefiles" -DUSE_SYSTEM_BOOST=ON -DUSE_SYSTEM_FFMPEG=ON -DUSE_SYSTEM_TBB=ON -DUSE_SYSTEM_GLEW=ON -DUSE_SYSTEM_FREETYPE=ON -DUSE_SYSTEM_FREEIMAGE=ON -DUSE_SYSTEM_OPENAL=ON -DUSE_SYSTEM_SFML=ON -DUSE_SYSTEM_FONTS=ON -DCMAKE_BUILD_TYPE=RelWithDebInfo
      - make -j8

package-buster:
    stage: package
    only:
      - master
      - devel
      - tags
    needs:
      - build-buster
    extends: .debian-buster
    script:
      - rm -Rf debian-build
      - git checkout -B "$CI_COMMIT_REF_NAME" "$CI_COMMIT_SHA"
      - dch --local ~buster "Build for buster"
      - DEB_BUILD_OPTIONS='parallel=12' gbp buildpackage -us -uc --git-ignore-new --git-debian-branch="$CI_COMMIT_REF_NAME" --git-upstream-tree=SLOPPY  --git-upstream-tag='v%(version)s' --git-export-dir=./debian-build
      - ls -slah debian-build
      - mkdir -p package/buster && cd debian-build && cp -t ../package/buster *.deb *.dsc *.xz && cp *.orig.tar.gz ../package
    artifacts:
      untracked: false
      expire_in: 24 hours
      paths:
        - package
package-stretch:
    stage: package
    only:
      - master
      - tags
    needs:
      - build-stretch
    extends: .debian-stretch
    script:
      - rm -Rf debian-build
      - git checkout -B "$CI_COMMIT_REF_NAME" "$CI_COMMIT_SHA"
      - dch --local ~buster "Build for buster"
      - DEB_BUILD_OPTIONS='parallel=12' gbp buildpackage -us -uc --git-ignore-new --git-debian-branch="$CI_COMMIT_REF_NAME" --git-upstream-tree=SLOPPY  --git-upstream-tag='v%(version)s' --git-export-dir=./debian-build
      - ls -slah debian-build
      - mkdir -p package/stretch && cd debian-build && cp -t ../package/stretch *.deb *.dsc *.xz && cp *.orig.tar.gz ../package
    artifacts:
      untracked: false
      expire_in: 24 hours
      paths:
        - package

deploy-repo:
  image: gitlab-01.in2ip.nl:5050/odmanaged/playout-platform/casparcgserver/buster-build:latest
  stage: deploy-repo
  tags:
    - docker
    - casparcg
  needs:
    - package-buster
    - package-stretch
  only:
    - tags
  script:
    - scp -r ./package debian-repo@debian.in2ip.net:./$CI_COMMIT_SHA
    - ssh debian-repo@debian.in2ip.net "./dodeploy.sh $CI_COMMIT_SHA"
