/version.h
/shell/included_modules.h

/unit-test/bin
/unit-test/tmp
/unit-test/unit-test.vcxproj.user

/test/psd-test/Debug
/test/psd-test/psd-test.vcxproj.user

/clang-analyze.out

/build
/OUT

CMakeLists.txt.user
.settings


debian/*.debhelper.log
debian/*.postrm.debhelper
debian/*.substvars
debian/debhelper-build-stamp
debian/.debhelper/
debian/casparcg-server.postinst.debhelper
debian/casparcg-server.prerm.debhelper
debian/files
debian/casparcg-server
obj-x86_64-linux-gnu/
