[Unit]

Description=CasparCG Server
After=DesktopVideoHelper.service
After=graphical.target  lxdm.service network-online.target
Requires=lxdm.service

[Service]
User=playout
Type=simple
Restart=always
Environment="DISPLAY=:0"
Environment="LD_LIBRARY_PATH=/opt/casparcg/lib"
ExecStart=/opt/casparcg/bin/casparcg /etc/casparcg/casparcg.config


[Install]

WantedBy=default.target

